.bg-video {
    //must set set parent element to relative positioning
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;//maybe not needed, but to prevent overflow of video from element
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}